databases:
  - name: budgetit
    databaseName: budgetit
    user: budgetit_user

services:
  - type: web
    name: BudgetIT
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: budgetit
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false