/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app/assets/stylesheets/application.css */
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

* {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

body {
  background-color: #f5f5f5;
}

.header {
  display: none;
}

nav {
  background: #3778c2;
  color: #fff;
  margin: 0;
  height: 5vh;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hamburger-btn {
  display: none; /* hide the button on larger screens */
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.login {
  align-self: center;
  margin-right: 35%;
  width: 60%;
}

ul#menu li {
  padding: 10px;
}

ul#menu li > a {
  color: white;
  text-decoration: none;
}

.logout {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  color: #615f5f;
  text-align: center;
  background-color: #fff;
}

.back {
  color: white;
  text-decoration: none;
  margin-left: 1%;
  margin-top: 3%;
}

.login-content {
  background-color: white;
  width: 40%;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
}

.login-content > form {
  display: flex;
  flex-direction: column;
}

.actions > input {
  border: none;
  background-color: transparent;
  color: #615f5f;
}

.login-content > form > input {
  height: 7vh;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #615f5f;
}

.action {
  width: 40vw;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
  width: 40vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  nav {
    background: #3778c2;
    color: #fff;
    margin: 0;
    height: 10vh;
    padding-top: 2%;
    display: flex;
  }

  #hamburger-btn {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 8vw;
    cursor: pointer;
    margin-top: 2%;
  }

  ul#menu {
    display: none; /* hide the menu by default on smaller screens */
  }

  .header {
    display: flex;
    margin-top: 3%;
    margin-right: 40%;
  }

  ul#menu.active {
    display: flex;
    flex-direction: column;
    background: #3778c2;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  ul#menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
  }

  .login-content {
    background-color: white;
    width: 95%;
    margin: 3% auto;
  }

  .input {
    width: 100%;
    height: 7vh;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(233, 231, 231);
    background-color: white;
    font-size: 4vw;
    padding-left: 1%;
  }

  .actions {
    margin-left: 25%;
    width: 50vw;
  }

  .submit-btn {
    background-color: transparent;
    color: #615f5f;
    width: 100%;
    border: none;
    font-size: 5vw;
  }

  .action {
    width: 80vw;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .action > a {
    text-align: center;
    text-decoration: none;
  }
}
